option_settings:
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-a1dbecc4

  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-5944863d

  - namespace: aws:elb:policies
    option_name: ConnectionDrainingEnabled
    value: true

  - namespace: aws:elb:policies
    option_name: ConnectionDrainingTimeout
    value: 300

  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: 301

  - namespace: aws:elb:policies
    option_name: LoadBalancerPorts
    value: all

  - namespace: aws:elb:policies
    option_name: Stickiness Policy
    value: false

  - namespace: aws:elb:healthcheck
    option_name: HealthyThreshold
    value: 4

  - namespace: aws:elb:healthcheck
    option_name: Interval
    value: 12

  - namespace: aws:elb:healthcheck
    option_name: Timeout
    value: 4

  - namespace: aws:elb:healthcheck
    option_name: UnhealthyThreshold
    value: 6 

Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:
      HealthCheckType: ELB
      HealthCheckGracePeriod: 301
  
  AWSEBLoadBalancer:
        Type: AWS::ElasticLoadBalancing::LoadBalancer
        Properties:
            AccessLoggingPolicy:
                EmitInterval: 5
                Enabled: true
                S3BucketName: aws-tiaglima-logs