option_settings:
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-a1dbecc4

  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: "subnet-5944863d, subnet-61738617, subnet-3619146f"

  - namespace: aws:elb:loadbalancer
    option_name: CrossZone
    value: true

  - namespace: aws:autoscaling:asg
    option_name: MinSize
    value: 3

  - namespace: aws:autoscaling:asg
    option_name: MaxSize
    value: 6

  - namespace: aws:autoscaling:asg
    option_name: Cooldown
    value: 60

  - namespace: aws:autoscaling:asg
    option_name: "Availability Zones"
    value: "Any 3"
  
  - namespace: aws:elb:healthcheck
    option_name: HealthyThreshold
    value: 4

  - namespace: aws:elb:healthcheck
    option_name: Interval
    value: 12

  - namespace: aws:elb:healthcheck
    option_name: Timeout
    value: 4

  - namespace: aws:elb:healthcheck
    option_name: UnhealthyThreshold
    value: 6

  - namespace: aws:elb:policies
    option_name: ConnectionDrainingEnabled
    value: true

  - namespace: aws:elb:policies
    option_name: ConnectionDrainingTimeout
    value: 300

  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: 301

  - namespace: aws:elb:listener:80
    option_name: ListenerProtocol
    value: HTTP

  - namespace: aws:elb:listener:80
    option_name: InstancePort
    value: 8080

  - namespace: aws:elb:listener:80
    option_name: InstanceProtocol
    value: HTTP

  - namespace: aws:elb:listener:443
    option_name: SSLCertificateId
    value: arn:aws:iam::857285822921:server-certificate/elastic-beanstalk-x509

  - namespace: aws:elb:listener:443
    option_name: ListenerProtocol
    value: HTTPS

  - namespace: aws:elb:listener:443
    option_name: InstancePort
    value: 80

  - namespace: aws:elb:listener:443
    option_name: InstanceProtocol
    value: HTTP
 
Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Properties:
      HealthCheckType: ELB
      HealthCheckGracePeriod: 301
  
  AWSEBLoadBalancer:
        Type: AWS::ElasticLoadBalancing::LoadBalancer
        Properties:
            AccessLoggingPolicy:
                EmitInterval: 5
                Enabled: true
                S3BucketName: aws-tiaglima-logs

files:
   /etc/httpd/conf.d/ssl.conf:
     mode: 000644
     owner: root
     group: root
     content: |
         Listen 8080
         <VirtualHost *:8080>
             DocumentRoot /var/www/html
             ServerName example.com
             ServerAlias myvpc.pzuq6vumsy.eu-west-1.elasticbeanstalk.com
             RedirectMatch ^/(.*) https://myvpc.pzuq6vumsy.eu-west-1.elasticbeanstalk.com/$1
             # Other directives here
         </VirtualHost>