option_settings:
  aws:elb:listener:443:
    SSLCertificateId: arn:aws:iam::857285822921:server-certificate/elastic-beanstalk-x509
    ListenerProtocol: HTTPS
    InstancePort: 80
    InstanceProtocol: HTTP
    ListenerEnabled: false

Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 1000
      FromPort: 1000
      SourceSecurityGroupName: {"Fn::GetAtt" : ["AWSEBLoadBalancer" , "SourceSecurityGroup.GroupName"]}